/* Global Reset */
html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 10px helvetica, arial, clean, sans-serif;
  *font-size: small;
  margin: 0;
}

h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
h4{
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin: 1rem 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
.container{
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	font-size: 1.4rem;
}
.gray{ color: #aaa;}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.post{
	list-style-type: none;
	padding-left: 0;
}
